<!doctype html>
<html>
<head>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<title>Olhe meu filho</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap.min.css?body=1">
	<link rel="stylesheet" href="assets/bootstrap-theme.min.css?body=1">
	<link rel="stylesheet" href="assets/home.css?body=1">

</head>
<body>

    <div class="container">
	    <%= form_for(:user, :url => {:controller => 'home', :action => 'sign_in'}, :html => {:class => "form-signin"}) do |f| %>
	        <h2 class="form-signin-heading">Acessar o sistema</h2>
	        <label for="inputEmail" class="sr-only">Usuário</label>
	        <input type="text" id="user_name" name="user[name]" class="form-control" placeholder="Usuário" required="false" autofocus="true">
	        <label for="inputPassword" class="sr-only">Senha</label>
	        <input type="password" id="user_password" name="user[password]" class="form-control" placeholder="Senha" required="false">

	        <% if flash[:notice] %>
				<div style="color: red; text-align: center;">
					<span><%= notice %></span>
				</div>
			<% end %>

	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> Lembrar
	          </label>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
	    <% end %>
    </div>  

</body>

</html>
